@media (min-width:935px) {
body{
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content: center;
}
a, a:visited{
    text-decoration: none;
    color:black;
}

.barra-topo{
    height: 54px;
    width: 100vw;
    background-color:  rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    border:1px solid #DBDBDB;
    z-index:3;
}

.conteudo-barra{
    width: 935px;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desk-nao{
    display:none;
}

.barra-vertical{
    height: 22px;
    width: 1px;
    background-color: #DBDBDB;
}

.barra-busca{
    width: 210px;
    height: 28px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #979797;
    border: 1px solid #DBDBDB;
    border-radius: 3px;

}

.icones-uteis{
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icones-barra{
    font-size: 22px;
}

.conteudo-pagina{
    width: 935px;
    margin-top: 84px;
    display:flex;
    flex-wrap: wrap;  
    position:absolute;
}

.conteudo-sidebar{
    max-width:293px;
    display: flex;
    flex-wrap: wrap;
    margin-left:640px;
    position:fixed;
}

.meu-perfil{
    width:100%;
    display: flex;
    align-items: center;
    margin-top:20px;
}

.meu-perfil p{
    margin-left: 15px;
    font-size: 14px;
    color: #262626;
}

.meu-perfil strong{
    font-weight: 500;
}

.meu-perfil small{
    color:#8E8E8E;
}

.sugestoes{
    margin: 25px 0;
    font-size: 12px;
    width:100%;
}

.sugestoes small{
    margin-right:135px;
    color: #8E8E8E;
}

.sugestoes strong{
    color: #262626;
    font-weight: 500;
}

.recomendados{
    display: flex;
    align-items: center;
    padding-top:5px;
}

.recomendados p{
    color:#139EF2;
    font-size:12px;
}

.perfilzinho{
    width:40%;
    margin:6px 96px 6px 8px;
}

.perfilzinho strong{
    color: #262626;
    font-size: 14px;
    font-weight: 500;
}

.perfilzinho small{
    color: #8E8E8E;
    font-size: 12px;
    margin:0;
    line-height: 20px;
}

.informacoes{
    color: #C7C7C7;
    font-size:11px;
}

.stories{
    background: #FFFFFF;
    width: 614px;
    height:118px;
    margin-bottom: 24px;
    display:flex;
    align-items: center;
    overflow-x: hidden;
    position:relative;
    border:1px solid #DBDBDB;
}

.setinha{
    position:absolute;
    font-size: 26px;
    color: #FFFFFF;
    z-index: 5;
    top:36%;
    right:1%;
}

.caixinha-stories{
    max-width: 66px;
    margin: 0 8px;
}

.caixinha-stories a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.caixinha-stories img{
    max-width: 66px;
}

.caixinha-stories strong{
    position: absolute;
    margin-bottom: 15px;
}

.caixinha-stories p{
    margin-top:7px;
    font-size:12px;
}

.post{
    background-color: #FFFFFF;
    max-width: 614px;
    height: fit-content;
    margin-bottom: 60px;
    border:1px solid #DBDBDB;
    position:relative;
}   

.post-imagem img{
    height: auto;
    width: 100%;
}

.post-barra{
    display: flex;
    align-items: center;
    padding-top:10px;
    margin-bottom: 10px;
}

.post-barra div{
    margin-left:15px;
}


.post-barra img{
    width:32px;
    height:32px;
    border-radius: 50%;
}

.post-barra p{
    margin-left:15px;
    font-weight: 500;
    font-size: 14px;
    
}

.post-baixo{
    height:100%;
    width:100%;
    height:10.2%;
}   

.top{
    display:flex;
    margin: 10px 0;
    position:relative;
}

.top div{
    margin-left: 15px;
}
.icon{
    font-size: 20px;
}

.top .iconl{
    top: 0;
}

.iconl{
    position:absolute;
    left:95%;
    font-size: 20px;
    top:18px;
}

.bot{
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.comentario{
    width:100%;
    padding-top:10px;
    display: flex;
    align-items: center;
    position:relative;
}

.comentario-icone{
    position:absolute;
    top:42%;
    left: 95%;
}

.comentar{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:10px;
    border: 1px solid #dbdbdb5b;
    margin-top:15px;    
}

.comentar input{
    width:80%;
    border:0;
}

.comentar button{
    color:#B2DFFC;
    background-color: transparent;
    font-size: 14px;;
    cursor: pointer;
    border:none;
}

.comentar button:hover{
    color:#0095F6;
    transition-duration: 300ms;
}

.icon-comment{  
    font-size: 25px;
}

.bot img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.bot p{
    margin-left: 5px;
}

.bot strong{
    font-weight: 500;
}

.icone{
    position:relative;
    left:460px;
}

.mp4{
    width:100%;
    height: 614px;
    max-width:614px;
    object-fit: cover;
}

.barra-inferior{
    display:none;
}

.apenas-margem{
    margin-left: 15px;
}

}


@media (min-width: 614px) and (max-width: 934px){
    body{
        background-color: #FAFAFA;
        font-family: 'Roboto', sans-serif;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .desk-nao{
        display: none;
    }

    a, a:visited{
        text-decoration: none;
        color:black;
    }
    
    .barra-topo{
        height: 54px;
        background-color:  rgba(255, 255, 255, 1);
        width: 100vw;
        display: flex;
        justify-content: center;
        position:fixed;
        z-index:3;
        border:1px solid #DBDBDB;
    }
    
    .conteudo-barra{
        width: 935px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
    
    }
    
    .logo{
        width: 145px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .icones-barra{
        font-size: 22px;
    }
    
    .barra-vertical{
        height: 22px;
        width: 1px;
        background-color: #DBDBDB;
    }
    
    .barra-busca{
        width: 210px;
        height: 28px;
        background-color: #FAFAFA;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #979797;
        border: 1px solid #DBDBDB;
        border-radius: 3px;
    
    }
    
    .icones-uteis{
        width: 130px;
        display: flex;
        justify-content: space-between;
    }
    
    .conteudo-pagina{
        width: 614px;
        margin-top: 84px;
        display:flex;
        flex-wrap: wrap;  
        position:absolute;
    }
    
    .conteudo-sidebar{
        display:none;
    }

    .stories{
        background-color: #FFFFFF;
        height:118px;
        margin-bottom: 24px;
        display:flex;
        align-items: center;
        overflow-x: hidden;
        position:relative;
        border:1px solid #DBDBDB;
    }
    
    .setinha{
        position:absolute;
        font-size: 26px;
        color: #FFFFFF;
        top:36%;
        right:1%;
        z-index: 5;
    }
    
    .caixinha-stories{
        max-width: 66px;
        margin: 0 8px;
    }

    .caixinha-stories a{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .caixinha-stories img{
        max-width: 66px;
        
    }
    
    .caixinha-stories strong{
        position: absolute;
        margin-bottom: 15px;
    }
    
    .caixinha-stories p{
        margin-top:7px;
        font-size:12px;
    }
    
    .post{
        background-color: #FFFFFF;
        height: fit-content;
        margin-bottom: 60px;
        border:1px solid #DBDBDB;
        position:relative;
    }   
    
    .post-imagem img{
        height: auto;
        width: 100%;
    }
    
    .post-barra{
        display: flex;
        align-items: center;
        padding:10px 0;
    }
    
    .post-barra div{
        margin-left:15px;
    }
    
    .post-barra img{
        width:32px;
        height:32px;
        border-radius: 50%;   
    }
    
    .post-barra p{
        margin-left:15px;
        font-weight: 500;
        font-size: 14px;    
    }
    
    .top{
        display:flex;
        margin: 10px 0;
        position:relative;
    }
   
    .top div{
    margin-left: 15px;
    }

    .icon{
    font-size: 20px;
    }
    
    .iconl{
        position:absolute;
        left:95%;
        font-size: 20px;
        top:18px
    }

    .top .iconl{
        top:0;
    }
    
    .bot{
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .comentario{
        width:100%;
        padding-top:10px;
        display: flex;
        align-items: center;
        position:relative;
    }
    
    .comentario-icone{
        position:absolute;
        top:42%;
        left: 95%;
    }
    
    .comentar{
        width:100%;
        display:flex;
        align-items: center;
        justify-content: space-around;
        padding:10px;
        border: 1px solid #dbdbdb5b;
        margin-top:15px;
        
    }
    
    .comentar input{
        width:80%;
        border:0;  
    }
    
    .comentar button{
        color:#B2DFFC;
        background-color: transparent;
        font-size: 14px;
        cursor: pointer;
        border:none;
    }
    
    .comentar button:hover{
        color:#0095F6;
        transition-duration: 300ms;
    }
    
    .icon-comment{  
        font-size: 25px;
    }
    
    .bot img{
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    .bot p{
        margin-left: 5px;
    }
    
    .bot strong{
        font-weight: 500;
    }

    .mp4{
        width:100%;
        height: 614px;
        max-width:614px;
        object-fit: cover;
    }

    .barra-inferior{
        display:none;
    }

    .apenas-margem{
        margin-left: 15px;
    }
}

@media (max-width: 613px){
   body{
        background-color: #FAFAFA;
        font-family: 'Roboto', sans-serif;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    a, a:visited{
        text-decoration: none;
        color:black;
    }
    
    .barra-topo{
        height: 54px;
        background-color:  rgba(255, 255, 255, 1);
        width: 100vw;
        display: flex;
        align-items: center;
        position: fixed;
        z-index:3;
        border:1px solid #DBDBDB;
    }
    
    .conteudo-barra{
        width: 100vw;
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
    }
    
    .icones-barra{
        font-size: 22px;
    }
    
    .conteudo-pagina{
        width: 100vw;
        margin-top: 50px;
        display:flex;
        flex-wrap: wrap;  
        position:absolute;
    }
    
    .conteudo-sidebar{
    display: none;
    }

    .stories{
        height:130px;
        display:flex;
        align-items: center;
        position: relative;
        overflow-x: hidden;
    }
    
    .setinha{
        display:none;
    }
    
    .caixinha-stories{
        max-width: 66px;
        margin: 0 8px;
    }

    .caixinha-stories a{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .caixinha-stories img{
        max-width: 66px;
    }
    
    .caixinha-stories strong{
        position: absolute;
        margin-bottom: 15px;
    }
    
    .caixinha-stories p{
        margin-top:7px;
        font-size:12px;
    }
    
    .post{
        background-color: #FFFFFF;
        height: fit-content;
        margin-bottom: 60px;
        border:1px solid #DBDBDB;
        position:relative;
    }   
    
    .post-imagem img{
        height: auto;
        width: 100%;
    }
    
    .post-barra{
        display: flex;
        align-items: center;
        padding-top:10px;
        margin-bottom: 10px;
    }

    .post-barra div{
        margin-left:15px;
    }
    
    .post-barra img{
        width:32px;
        height:32px;
        border-radius: 50%;
    }

    .post-barra p{
        margin-left:15px;
        font-weight: 500;
        font-size: 14px;
    }
    
    .top{
        display:flex;
        margin: 10px 0;
        position:relative;
    }

    .top div{
        margin-left: 15px;
    }

    .icon{
        font-size: 20px;
    }
    
    .iconl{
        position:absolute;
        left:95%;
        font-size: 20px;
        top:18px
    }
    
    .top .iconl{
        top:0;
    }
    
    
    .bot{
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;       
    }
    
    .comentario{
        width:100%;
        padding-top:10px;
        display: flex;
        align-items: center;
        position:relative;
    }
    
    .comentario-icone{
        position:absolute;
        top:42%;
        left: 95%;
    }
    
    .comentar{
        width:100%;
        display:flex;
        align-items: center;
        justify-content: space-around;
        padding:10px;
        border: 1px solid #dbdbdb5b;
        margin-top:15px;
        
    }
    
    .comentar input{
        width:80%;
        border:0;     
    }
    
    .comentar button{
        color:#B2DFFC;
        background-color: transparent;
        font-size: 14px;
        cursor: pointer;
        border:none;
    }
    
    .comentar button:hover{
        color:#0095F6;
        transition-duration: 300ms;
    }
    
    .icon-comment{  
        font-size: 25px;
    }

    .bot img{
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    .bot p{
        margin-left: 5px;
    }
    
    .bot strong{
        font-weight: 500;
    }

    .mob-nao{
        display:none;
    }

    .mp4{
        width:100%;
        height: 614px;
        max-width:614px;
        object-fit: cover;
    }

    .barra-inferior{
        background: #FAFAFA;
        width:100vw;
        position:fixed;
        bottom:0;
        display:flex;
        justify-content: center;
    }

    .conteudo-barra-inferior{ 
        width:90%;
        display:flex;
        justify-content: space-between;
        font-size: 22px;
        padding: 10px 0;
    }

    .apenas-margem{
        margin-left: 15px;
    }
}