@media (min-width:935px) {
body{
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
a, a:visited{
    text-decoration: none;
    color:black;
}

.barra-topo{
    height: 54px;
    background-color:  rgba(255, 255, 255, 1);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    z-index:3;
    border:1px solid #DBDBDB;
}

.conteudo-barra{
    width: 935px;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.logo{
    width: 145px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desk-nao{
    display:none;
}

.icones-barra{
    font-size: 22px;
}

.barra-vertical{
    height: 22px;
    width: 1px;
    background-color: #DBDBDB;
}

.barra-busca{
    width: 210px;
    height: 28px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #979797;
    border: 1px solid #DBDBDB;
    border-radius: 3px;

}

.icones-uteis{
    height: 28px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo-pagina{
    width: 935px;
    margin-top: 84px;
    display:flex;
    flex-wrap: wrap;  
    position:absolute;
}

.conteudo-sidebar{
    width:100%;
    max-width:293px;
    height:fit-content;
    position:fixed;
    display: flex;
    flex-wrap: wrap;
    margin-left:640px;

}

.meu-perfil{
    width:100%;
    height:fit-content;
    margin: 5px 0;
    display: flex;
    align-items: center;
    padding-top:20px;
}

.meu-perfil p{
    margin-left: 5%;
    font-size: 14px;
    color: #262626;
}

.meu-perfil strong{
    font-weight: 500;

}

.meu-perfil small{
    color:#8E8E8E;
    line-height: 16px;

}

.sugestoes{
    width:100%;
    height:fit-content;
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding-top:15px;

}

.sugestoes small{
    margin-right:135px;
    color: #8E8E8E;
    font-size: 12px;}

.sugestoes strong{
    color: #262626;
    font-size: 12px;
    font-weight: 500;
}

.recomendados{
    width:100%;
    height:fit-content;
    display: flex;
    align-items: center;
    padding-top:5px;
}

.recomendados p{
    color:#139EF2;
    font-size:12px;
}

.perfilzinho{
    width:40%;
    margin:6px 96px 6px 8px;
}

.perfilzinho strong{
    color: #262626;
    font-size: 14px;
    font-weight: 500;

}

.perfilzinho small{
    color: #8E8E8E;
    font-size: 12px;
    margin:0;
    line-height: 20px;
}

.informacoes{
    width: 100%;
    height: fit-content;
    margin-top: 20px;
}

.informacoes p{
    color: #C7C7C7;
    font-size:11px;
}

.stories{
    background: #FFFFFF;
    width: 614px;
    height:118px;
    margin-bottom: 24px;
    display:flex;
    align-items: center;
    position:relative;
    overflow-x: hidden;
    border:1px solid #DBDBDB;
}

.setinha{
    position:absolute;
    font-size: 26px;
    left: 580px;
    color: #FFFFFF;
    z-index: 5;
}

.caixinha-stories{
    width: 66px;
    height: 81px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}

.caixinha-stories img{
    max-width: 66px;
    
}

.caixinha-stories strong{
    position: absolute;
    margin-bottom: 11px;
    overflow:hidden;
}

.caixinha-stories p{
    margin-top:7px;
    font-size:12px;
    font-weight: 400;
    color: #262626;
}

.post{
    background-color: #FFFFFF;
    width:100%;
    max-width: 614px;
    height: fit-content;
    margin-bottom: 60px;
    border:1px solid #DBDBDB;
    position:relative;
}   

.post-imagem img{
    height: auto;
    width: 100%;
}

.post-barra{
    width: 100%;
    height: 7%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top:10px;
    margin-bottom: 10px;
}


.post-barra img{
    margin-left:17px;
    width:32px;
    height:32px;
    border-radius: 50%;
}

.post-barra p{
    margin-left:15px;
    font-weight: 500;
    color: #262626;
    font-size: 14px;
    
}

.post-baixo{
    height:100%;
    width:100%;
    height:10.2%;
}   

.top{
    width:100%;
    height:50%;
    display:flex;
    align-items: center;
    margin: 10px 0;
    position:relative;
}
.icon{
    margin-left: 15px;
    font-size: 20px;
}

.iconl{
    position:absolute;
    left:95%;
    font-size: 20px;
}

.bot{
    width:100%;
    height:fit-content;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position:relative;

}

.comentario{
    width:100%;
    height:fit-content;
    font-size: 14px;
    padding-top:10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.comentario-icone{
    position:absolute;
    left:95%
}

.comentar{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:10px;
    border: 1px solid #dbdbdb5b;
    height:fit-content;
    margin-top:15px;

    
}

.comentar input{
    width:80%;
    border:0;
    
}

.comentar button{
    color:#B2DFFC;
    background-color: transparent;
    border:0;
    font-size: 14px;;
}

.comentar button:hover{
    color:#0095F6;
    transition-duration: 300ms;
}

.icon-comment{  
    font-size: 25px;
}

.bot img{
    margin-left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.bot p{
    margin-left: 5px;
}

.bot strong{
    font-weight: 500;
}

.icone{
    position:relative;
    left:460px;
}

.o-diferentao{
    position:relative;
    left:480px;
    font-size: 20px;
}


.mp4{
    width:100%;
    height: 614px;
    max-width:614px;
    object-fit: cover;
}

.barra-inferior{
    display:none;
}

}


@media (min-width: 614px) and (max-width: 934px){
    body{
        background-color: #FAFAFA;
        font-family: 'Roboto', sans-serif;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .desk-nao{
        display: none;
    }

    a, a:visited{
        text-decoration: none;
        color:black;
    }
    
    .barra-topo{
        height: 54px;
        background-color:  rgba(255, 255, 255, 1);
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position:fixed;
        z-index:3;
        border:1px solid #DBDBDB;
    }
    
    .conteudo-barra{
        width: 935px;
        height: 40px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
    
    }
    
    .logo{
        width: 145px;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .icones-barra{
        font-size: 22px;
    }
    
    .barra-vertical{
        height: 22px;
        width: 1px;
        background-color: #DBDBDB;
    }
    
    .barra-busca{
        width: 210px;
        height: 28px;
        background-color: #FAFAFA;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #979797;
        border: 1px solid #DBDBDB;
        border-radius: 3px;
    
    }
    
    .icones-uteis{
        height: 28px;
        width: 130px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .conteudo-pagina{
        width: 614px;
        margin-top: 84px;
        display:flex;
        flex-wrap: wrap;  
        position:absolute;
    }
    
    .conteudo-sidebar{
        width:100%;
        max-width:293px;
        height:467px;
        position:fixed;
        margin-left:640px;
        display:none;
    }
    
    .meu-perfil{
        width:100%;
        height:9vh;
        margin: 5px 0;
        display: flex;
        align-items: center;
    }
    
    .meu-perfil p{
        margin-left: 5%;
        font-size: 14px;
        color: #262626;
    }
    
    .meu-perfil strong{
        font-weight: 500;
    
    }
    
    .meu-perfil small{
        color:#8E8E8E;
        line-height: 16px;
    
    }
    
    .sugestoes{
        width:100%;
        height:27vh;
        margin: 5px 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .sugestoes small{
        margin-right:127px;
        margin-bottom:18px;
        color: #8E8E8E;
        font-size: 12px;
    }
    
    .sugestoes strong{
        color: #262626;
        font-size: 12px;
        font-weight: 500;
    }
    
    .recomendados{
        width:100%;
        height:34px;
        display: flex;
        align-items: center;
    }
    
    .recomendados p{
        color:#139EF2;
        font-size:12px;
    
    }
    
    .perfilzinho{
        width:40%;
        margin:6px 96px 6px 8px;
    }
    
    .perfilzinho strong{
        color: #262626;
        font-size: 14px;
        font-weight: 500;
    }
    
    .perfilzinho small{
        color: #8E8E8E;
        font-size: 12px;
        margin:0;
    
    }
    
    .informacoes{
        width: 100%;
        height: 10vh;
        margin-top: 30px;
    }
    
    .informacoes p{
        color: #C7C7C7;
        font-size:11px;
    }
    
    .stories{
        background-color: #FFFFFF;
        width: 614px;
        height:118px;
        margin-bottom: 24px;
        display:flex;
        align-items: center;
        position:relative;
        overflow-x: hidden;
        border:1px solid #DBDBDB;
    }
    
    .setinha{
        position:absolute;
        font-size: 26px;
        left: 580px;
        color: #FFFFFF;
        z-index: 5;
    }
    
    .caixinha-stories{
        width: 66px;
        height: 81px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 8px;
    }
    
    .caixinha-stories img{
        max-width: 66px;
        
    }
    
    .caixinha-stories strong{
        position: absolute;
        margin-bottom: 11px;
        overflow:hidden;
    }
    
    .caixinha-stories p{
        margin-top:7px;
        font-size:12px;
        font-weight: 400;
        color: #262626;
    }
    
    .post{
        background-color: #FFFFFF;
        width:100%;
        height: fit-content;
        margin-bottom: 60px;
        border:1px solid #DBDBDB;
        position:relative;
    }   
    
    .post-imagem img{
        height: auto;
        width: 100%;

    }
    
    .post-barra{
        width: 100%;
        height: 7%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top:10px;
        margin-bottom: 10px;
    }

    
    .post-barra img{
        margin-left:17px;
        width:32px;
        height:32px;
        border-radius: 50%;
        
    }
    
    .post-barra p{
        margin-left:15px;
        font-weight: 500;
        color: #262626;
        font-size: 14px;
        
    }
    
    .post-baixo{
        height:100%;
        width:100%;
        height:10.2%;
    }   
    
    .top{
        width:100%;
        height:50%;
        display:flex;
        align-items: center;
        margin: 10px 0;
        position:relative;
    }
    .icon{
        margin-left: 15px;
        font-size: 20px;
    }
    
    .iconl{
        position:absolute;
        left:95%;
        font-size: 20px;
    }
    
    .bot{
        width:100%;
        height:fit-content;
        font-size: 14px;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        position:relative;
    }

    .comentario{
        width:100%;
        height:fit-content;
        font-size: 14px;
        padding-top:10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .comentario-icone{
        position:absolute;
        left:95%
    }
    
    .comentar{
        width:100%;
        display:flex;
        align-items: center;
        justify-content: space-around;
        padding:10px;
        border: 1px solid #dbdbdb5b;
        height:fit-content;
        margin-top:15px;
        
    }
    
    .comentar input{
        width:80%;
        border:0;
        
    }
    
    .comentar button{
        color:#B2DFFC;
        background-color: transparent;
        border:0;
        font-size: 14px;;
    }
    
    .comentar button:hover{
        color:#0095F6;
        transition-duration: 300ms;
    }
    
    .icon-comment{  
        font-size: 25px;
    }
    
    .bot img{
        margin-left: 15px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    .bot p{
        margin-left: 5px;
    }
    
    .bot strong{
        font-weight: 500;
    }

    .mp4{
        width:100%;
        height: 614px;
        max-width:614px;
        object-fit: cover;
    }
    .barra-inferior{
        display:none;
    }
}

@media (max-width: 613px){
   body{
        background-color: #FAFAFA;
        font-family: 'Roboto', sans-serif;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    a, a:visited{
        text-decoration: none;
        color:black;
    }
    
    .barra-topo{
        height: 54px;
        background-color:  rgba(255, 255, 255, 1);
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index:3;
        border:1px solid #DBDBDB;
    }
    
    .conteudo-barra{
        width: 100vw;
        height: 40px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
    
    }
    
    .logo{
        width: fit-content;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .icones-barra{
        font-size: 22px;
    }
    
    .barra-vertical{
        height: 22px;
        width: 1px;
        background-color: #DBDBDB;
    }
    
    .barra-busca{
        width: 210px;
        height: 28px;
        background-color: #FAFAFA;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #979797;
        border: 1px solid #DBDBDB;
        border-radius: 3px;
    
    }
    
    .icones-uteis{
        height: 28px;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .conteudo-pagina{
        width: 100vw;
        margin-top: 50px;
        display:flex;
        flex-wrap: wrap;  
        position:absolute;
    }
    
    .conteudo-sidebar{
        width:100%;
        max-width:293px;
        height:467px;
        position:fixed;
        margin-left:640px;
        display:none;
    }
    
    .meu-perfil{
        width:100%;
        height:9vh;
        margin: 5px 0;
        display: flex;
        align-items: center;
    }
    
    .meu-perfil p{
        margin-left: 5%;
        font-size: 14px;
        color: #262626;
    }
    
    .meu-perfil strong{
        font-weight: 500;
    
    }
    
    .meu-perfil small{
        color:#8E8E8E;
        line-height: 16px;
    
    }
    
    .sugestoes{
        width:100%;
        height:27vh;
        margin: 5px 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .sugestoes small{
        margin-right:127px;
        margin-bottom:18px;
        color: #8E8E8E;
        font-size: 12px;
    }
    
    .sugestoes strong{
        color: #262626;
        font-size: 12px;
        font-weight: 500;
    }
    
    .recomendados{
        width:100%;
        height:34px;
        display: flex;
        align-items: center;
    }
    
    .recomendados p{
        color:#139EF2;
        font-size:12px;
    
    }
    
    .perfilzinho{
        width:40%;
        margin:6px 96px 6px 8px;
    }
    
    .perfilzinho strong{
        color: #262626;
        font-size: 14px;
        font-weight: 500;
    }
    
    .perfilzinho small{
        color: #8E8E8E;
        font-size: 12px;
        margin:0;
    
    }
    
    .informacoes{
        width: 100%;
        height: 10vh;
        margin-top: 30px;
    }
    
    .informacoes p{
        color: #C7C7C7;
        font-size:11px;
    }

    .stories{
        background:transparent;
        width: 100%;
        height:130px;
        display:flex;
        align-items: center;
        position:relative;
        overflow-x: hidden;
    }
    
    .setinha{
        position:absolute;
        font-size: 26px;
        left: 580px;
        color: #FFFFFF;
        z-index: 5;
        display:none;
    }
    
    .caixinha-stories{
        width: 66px;
        height: 81px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 8px;
    }
    
    .caixinha-stories img{
        max-width: 66px;
        
    }
    
    .caixinha-stories strong{
        position: absolute;
        margin-bottom: 11px;
        overflow:hidden;
    }
    
    .caixinha-stories p{
        margin-top:7px;
        font-size:12px;
        font-weight: 400;
        color: #262626;
    }
    
    .post{
        background-color: #FFFFFF;
        width:100%;
        height: fit-content;
        margin-bottom: 60px;
        border:1px solid #DBDBDB;
        position:relative;
    }   
    
    .post-imagem img{
        height: auto;
        width: 100%;
    }
    
    .post-barra{
        width: 100%;
        height: 7%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top:10px;
        margin-bottom: 10px;
    }

    
    .post-barra img{
        margin-left:17px;
        width:32px;
        height:32px;
        border-radius: 50%;
        
    }
    
    .post-barra p{
        margin-left:15px;
        font-weight: 500;
        color: #262626;
        font-size: 14px;
        
    }
    
    .post-baixo{
        height:100%;
        width:100%;
        height:10.2%;
    }   
    
    .top{
        width:100%;
        height:50%;
        display:flex;
        align-items: center;
        margin: 10px 0;
        position:relative;
    }

    .icon{
        margin-left: 15px;
        font-size: 20px;
    }
    
    .iconl{
        position:absolute;
        left:95%;
        font-size: 20px;
    }
    
    .bot{
        width:100%;
        height:fit-content;
        font-size: 14px;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;        
    }
    
    .comentario{
        width:100%;
        height:fit-content;
        font-size: 14px;
        padding-top:10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .comentario-icone{
        position:absolute;
        left:95%
    }
    
    .comentar{
        width:100%;
        display:flex;
        align-items: center;
        justify-content: space-around;
        padding:10px;
        border: 1px solid #dbdbdb5b;
        height:fit-content;
        margin-top:15px;
        
    }
    
    .comentar input{
        width:80%;
        border:0;
        
    }
    
    .comentar button{
        color:#B2DFFC;
        background-color: transparent;
        border:0;
        font-size: 14px;;
    }
    
    .comentar button:hover{
        color:#0095F6;
        transition-duration: 300ms;
    }
    
    .icon-comment{  
        font-size: 25px;
    }

    .bot img{
        margin-left: 15px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    .bot p{
        margin-left: 5px;
    }
    
    .bot strong{
        font-weight: 500;
    }

    .mob-nao{
        display:none;
    }

    .desk-nao{
        display:initial;
    }

    .mp4{
        width:100%;
        height: 614px;
        max-width:614px;
        object-fit: cover;
    }

    .barra-inferior{
        background: #FAFAFA;
        width:100vw;
        position:fixed;
        bottom:0;
        display:flex;
        justify-content: center;
    }

    .conteudo-barra-inferior{ 
        width:90%;
        display:flex;
        justify-content: space-between;
        font-size: 22px;
        padding: 10px 0;
    }
}